<html>
<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-2">
    </div>
    <a class="btn btn-primary btn-lg" href="/action?action=assemble" role="button" id="assemble">assemble</a>
    <div class="col-md-2">
    </div>
    <a class="btn btn-primary btn-lg" href="/action?action=mouse" role="button" id="mouse">mouse</a>
    <div class="col-md-2">
    </div>
    <a class="btn btn-primary btn-lg" href="/action?action=keyboard" role="button" id="keyboard">keyboard</a>
</div>
<div class="row">
    <br>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <a class="btn btn-primary btn-lg" href="/action?action=measure" role="button" id="mesure">measure</a>
    <div class="col-md-2">
    </div>
    <a class="btn btn-primary btn-lg" href="/action?action=padding" role="button" id="padding">padding</a>
    <div class="col-md-2">
    </div>
    <a class="btn btn-primary btn-lg" href="/action?action=tablet" role="button" id="tablet">tablet</a>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
</html>